  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title><%- title %></title>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.1/css/all.min.css' rel='stylesheet' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.css' rel='stylesheet' />
    <link href='/stylesheets/style.css' rel='stylesheet' />
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.js'></script>
<% if (locals.index) { -%>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/gh/mebjas/html5-qrcode@V2.0.10/dist/html5-qrcode.min.js'></script>
    <script type='text/javascript' src='/javascripts/main.js'></script>
    <script>window.onload = indexOnLoad;</script>
<% } if (locals.qr) { -%>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs@04f46c6a0708418cb7b96fc563eacae0fbf77674/qrcode.min.js'></script>
    <script type='text/javascript' src='/javascripts/main.js'></script>
    <script>window.onload = generateQR;</script>
<% } if (locals.init) { -%>
    <script type='text/javascript' src='/javascripts/main.js'></script>
    <script>window.onload = () => {medInit();};</script>
<% } if (locals.create) { -%>
    <script type='text/javascript' src='/javascripts/main.js'></script>
    <script>window.onload = () => {document.forms[0].onsubmit = createOnSubmit;};</script>
<% } -%>
  </head>