  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title><%= title %></title>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.1/css/all.min.css' rel='stylesheet' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.css' rel='stylesheet' />
    <link href='/stylesheets/style.css' rel='stylesheet' />
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.js'></script>
  </head>