<!DOCTYPE html>
<html>
<%- include('head') %>
  <body>
    <div class='container'>
      <div class='row'>
        <h1 class='text-center'><%- title %></h1>
        <div class='col-12'>
          <p id='msg' class='text-center fs-4 mx-auto my-3'></p>
          <input type='hidden' id='challenge' value='<%- challenge %>'>
          <input type='hidden' id='fid' value='<%- fid %>'>
        </div>
      </div>
    </div>
  </body>
</html>
