<!DOCTYPE html>
<html>
<%- include('head') %>
  <body>
    <div class='container'>
      <div class='row'>
        <h1 class='text-center'>Logged in as <%- 'Bob' %></h1>
        <div class='col-12 d-grid gap-3'>
          <a href='/med/create'><button class='btn btn-light w-100'>Create Vaccination Record</button></a>
          <a href='/logout'><button class='btn btn-dark w-100'>Logout</button></a>
        </div>
      </div>
    </div>
  </body>
</html>
